{
  "x-generator": "NSwag v11.17.12.0 (NJsonSchema v9.10.50.0 (Newtonsoft.Json v9.0.0.0))",
  "swagger": "2.0",
  "info": {
    "title": "SG Web API Specification",
    "description": "Note: the maximum length of the query string is limited to 2048 characters by default. The limit can be increased by changing maxQueryString and maxQueryStringLength options in configuration file.",
    "version": "1.0.0"
  },
  "host" : "customer.tempus-resource.com",
  "basePath" : "/SG",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/sg/v1/AdminTimes/Get": {
      "get": {
        "tags": [
          "AdminTimes"
        ],
        "summary": "List Admin Times",
        "description": "Gets all admin times in ascending order by id.",
        "operationId": "AdminTimes_GetAll",
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "The list of admin times.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AdminTimeType"
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "GET /api/sg/v1/AdminTimes"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nsgClient.AdminTimesClient.GetAdminTimeTypes().Result;"
          }
        ]
      }
    },
    "/api/sg/v1/AdminTimes/Get/{id}": {
      "get": {
        "tags": [
          "AdminTimes"
        ],
        "summary": "Get Admin Times",
        "description": "Gets the admin time by id.",
        "operationId": "AdminTimes_Get",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id of the admin time.",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Object containing admin time information.",
            "schema": {
              "$ref": "#/definitions/AdminTimeType"
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "GET /api/sg/v1/AdminTimes/2"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nsgClient.AdminTimesClient.GetAdminTimeType(2).Result;"
          }
        ]
      }
    },
    "/api/sg/v1/Assignments/Get": {
      "get": {
        "tags": [
          "Assignments"
        ],
        "summary": "List Assignments",
        "operationId": "Assignments_Get",
        "parameters": [
          {
            "type": "string",
            "name": "timeUnit",
            "in": "query",
            "description": "Time unit of assignment allocations aggregation. By default allocations aggregated by Day.",
            "x-schema": {
              "$ref": "#/definitions/TimeUnit"
            },
            "default": "Day",
            "x-nullable": false,
            "enum": [
              "Day",
              "Week",
              "Month",
              "Quarter"
            ]
          },
          {
            "type": "string",
            "name": "dataUnit",
            "in": "query",
            "description": "Data unit of assignment allocations. By default allocations provided in Time.",
            "x-schema": {
              "$ref": "#/definitions/DataUnit"
            },
            "default": "Time",
            "x-nullable": false,
            "enum": [
              "Time",
              "Fte",
              "Cost",
              "Mandays"
            ]
          },
          {
            "type": "string",
            "name": "planType",
            "in": "query",
            "description": "Comma-separated list of plan types of task. Possible values Allocation, Demand. By default tasks for both plan types provided.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "allocationType",
            "in": "query",
            "description": "Comma-separated list of allocation type of allocations. Possible values Planned, Actual. By default allocations for both allocation types provided.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "resourceIds",
            "in": "query",
            "description": "Comma-separated list of resource ids. Optional parameter. Mutually exclusive with resourceExternalIds.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "resourceExternalIds",
            "in": "query",
            "description": "Comma-separated list of resource external ids. Optional. Mutually exclusive with ResourceIds.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "projectIds",
            "in": "query",
            "description": "Comma-separated list or project ids. Optional. Mutually exclusive with TaskIds and ProjectExternalIds.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "projectExternalIds",
            "in": "query",
            "description": "Comma-separated list of project ids. Optional. Mutually exclusive with TaskIds and ProjectIds.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "taskIds",
            "in": "query",
            "description": "Comma-separated list of task ids. Optional. Mutually exclusive with ProjectIds and ProjectExternalIds parameters.",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "page",
            "in": "query",
            "description": "Page index to return.",
            "format": "int32",
            "default": 1,
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of items to return per page.",
            "format": "int32",
            "default": 100,
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "compressed",
            "in": "query",
            "description": "Compress assignment allocations array if set to true.",
            "default": true,
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "modifiedLaterThan",
            "in": "query",
            "description": "Optional filter parameter to find assignments that have been modified later than given timestamp. Timestamp format 2018-04-20T18:30:00.",
            "format": "date-time",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "List of assignments with allocation.",
            "schema": {
              "$ref": "#/definitions/PagedAllocationsResultOfAssignment"
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "GET /api/sg/v1/Assignments?timeUnit=Month&DataUnit=Time&planType=Demand,Allocation&projectIds=2,3&compressed=false"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nsgClient.AssignmentsClient.GetAssignments(TimeUnit.Day, DataUnit.Time, new[]\r\n                    {\r\n                        PlanType.Allocation, PlanType.Demand\r\n                    }, new[]\r\n                    {\r\n                        AllocationType.Actual, AllocationType.Planned\r\n                    }, null, new[] {2,3}, null, 1, 100, false).Result;"
          }
        ]
      }
    },
    "/api/sg/v1/Assignments/Post": {
      "post": {
        "tags": [
          "Assignments"
        ],
        "summary": "Create Assignments",
        "operationId": "Assignments_Post",
        "parameters": [
          {
            "name": "assignments",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AssignmentEdit"
              }
            },
            "description": "The list of assignments to create. Has a limit of 5000 entities in a single call.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "dominantUnit",
            "in": "query",
            "required": true,
            "description": "The unit of allocations data. Allocations can be updated only in dominant unit that is selected in the system.",
            "x-schema": {
              "$ref": "#/definitions/DominantUnit"
            },
            "x-nullable": false,
            "enum": [
              "Time",
              "Fte"
            ]
          },
          {
            "type": "string",
            "name": "dataUnit",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/DataUnit"
            },
            "x-nullable": true,
            "enum": [
              "Time",
              "Fte",
              "Cost",
              "Mandays"
            ]
          },
          {
            "type": "boolean",
            "name": "withLock",
            "in": "query",
            "description": "If True, automatically acquires assignments locks before update, and releases locks after assignments updated. If False, locks should be already acquired.",
            "default": false,
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "compressed",
            "in": "query",
            "description": "True if allocations are compressed, otherwise False.",
            "default": true,
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "POST /api/sg/v1/Assignments?dominantUnit=Time&withLock=true&compressed=false\r\n\r\n[\r\n  {\r\n    \"taskId\": 5,\r\n    \"resourceId\": 2,\r\n    \"actualStartDate\": \"2017-08-12T05:51:09Z\",\r\n    \"actualAllocations\": [\r\n      5,4,2,2,4,4,3\r\n    ],\r\n    \"plannedStartDate\": \"2017-08-12T05:51:09Z\",\r\n    \"plannedAllocations\": [\r\n      6,6,6,6,4,4,4\r\n    ]\r\n  }\r\n]"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nvar assignments = new List<AssignmentEdit>{\r\n  new AssignmentEdit\r\n                        {\r\n                            TaskId = 5,\r\n                            ResourceId = 2,\r\n                            ActualStartDate = DateTime.Now,\r\n                            ActualAllocations = new double[]{5,4,2,2,4,4,3},\r\n                            PlannedStartDate = DateTime.Now,\r\n                            PlannedAllocations = new double[]{6,6,6,6,4,4,4},\r\n                        }\r\n};\r\nsgClient.AssignmentsClient.CreateAssignments(assignments, DominantUnit.Time, true, false).Wait();"
          }
        ]
      }
    },
    "/api/sg/v1/Assignments/Put": {
      "put": {
        "tags": [
          "Assignments"
        ],
        "summary": "Update Assignments",
        "operationId": "Assignments_Put",
        "parameters": [
          {
            "name": "assignments",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AssignmentEdit"
              }
            },
            "description": "The list of assignments to update. Has a limit of 5000 entities in a single call.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "dominantUnit",
            "in": "query",
            "required": true,
            "description": "The unit of allocations data. Allocations can be updated only in dominant unit that is elected in the system.",
            "x-schema": {
              "$ref": "#/definitions/DominantUnit"
            },
            "x-nullable": false,
            "enum": [
              "Time",
              "Fte"
            ]
          },
          {
            "type": "string",
            "name": "dataUnit",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/DataUnit"
            },
            "x-nullable": true,
            "enum": [
              "Time",
              "Fte",
              "Cost",
              "Mandays"
            ]
          },
          {
            "type": "boolean",
            "name": "withLock",
            "in": "query",
            "description": "If True, automatically acquires assignments locks before update, and releases locks after assignments updated. If False, locks should be already acquired.",
            "default": false,
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "compressed",
            "in": "query",
            "description": "True if allocations are compressed, otherwise False.",
            "default": true,
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "PUT /api/sg/v1/Assignments?dominantUnit=Time&withLock=true&compressed=false\r\n\r\n[\r\n  {\r\n    \"taskId\": 5,\r\n    \"resourceId\": 2,\r\n    \"actualStartDate\": \"2017-08-12T05:51:09Z\",\r\n    \"actualAllocations\": [\r\n      5,4,2,2,4,4,3\r\n    ],\r\n    \"plannedStartDate\": \"2017-08-12T05:51:09Z\",\r\n    \"plannedAllocations\": [\r\n      6,6,6,6,4,4,4\r\n    ]\r\n  }\r\n]"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nvar assignments = new List<AssignmentEdit>{\r\n  new AssignmentEdit\r\n                        {\r\n                            TaskId = 5,\r\n                            ResourceId = 2,\r\n                            ActualStartDate = DateTime.Now,\r\n                            ActualAllocations = new double[]{5,4,2,2,4,4,3},\r\n                            PlannedStartDate = DateTime.Now,\r\n                            PlannedAllocations = new double[]{6,6,6,6,4,4,4},\r\n                        };\r\n}\r\nsgClient.AssignmentsClient.UpdateAssignments(assignments, DominantUnit.Time, true, false).Wait();"
          }
        ]
      }
    },
    "/api/sg/v1/Assignments/Delete": {
      "post": {
        "tags": [
          "Assignments"
        ],
        "summary": "Delete Assignments",
        "operationId": "Assignments_Delete",
        "parameters": [
          {
            "name": "assignmentIds",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AssignmentKey"
              }
            },
            "description": "The list of assignment ids to delete. Has a limit of 5000 entities in a single call.",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "withLock",
            "in": "query",
            "description": "If True, automatically acquires assignments locks before delete, and releases locks after assignments deleted. If False, locks should be already acquired.",
            "default": false,
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "POST /api/sg/v1/Assignments/Delete\r\n\r\n[\r\n  {\r\n    \"resourceId\" : 2,\r\n    \"taskId\" : 5\r\n  },\r\n  {\r\n    \"resourceId\" : 3,\r\n    \"taskId\" : 6\r\n  }\r\n]"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nvar assignments = new List<AssignmentKey>{\r\n  new AssignmentKey{\r\n    ResourceId = 2,\r\n    TaskId = 5\r\n  },\r\n  new AssignmentKey{\r\n    ResourceId = 3,\r\n    TaskId = 6\r\n  }\r\n}\r\nsgClient.AssignmentsClient.DeleteAssignments(assignments).Wait();"
          }
        ]
      }
    },
    "/api/sg/v1/Assignments/AcquireLocks": {
      "post": {
        "tags": [
          "Assignments"
        ],
        "summary": "Acquire Locks",
        "operationId": "Assignments_AcquireLocks",
        "parameters": [
          {
            "name": "assignmentIds",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AssignmentKey"
              }
            },
            "description": "Array of assignment ids to lock.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Array of assignment lock states.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LockState"
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "POST /api/sg/v1/Assignments/AcquireLocks\r\n\r\n[\r\n  {\r\n    \"resourceId\" : 2,\r\n    \"taskId\" : 5\r\n  },\r\n  {\r\n    \"resourceId\" : 3,\r\n    \"taskId\" : 6\r\n  }\r\n]"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nvar assignments = new List<AssignmentKey>{\r\n  new AssignmentKey{\r\n    ResourceId = 2,\r\n    TaskId = 5\r\n  },\r\n  new AssignmentKey{\r\n    ResourceId = 3,\r\n    TaskId = 6\r\n  }\r\n}\r\nsgClient.AssignmentsClient.AcquireLocks(assignments).Wait();"
          }
        ]
      }
    },
    "/api/sg/v1/Assignments/ExtendLocks": {
      "put": {
        "tags": [
          "Assignments"
        ],
        "summary": "Extend Locks",
        "description": "Extends all assignments acquired by user.",
        "operationId": "Assignments_ExtendLocks",
        "responses": {
          "204": {
            "description": ""
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "PUT /api/sg/v1/Assignments/ExtendLocks"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nsgClient.AssignmentsClient.ExtendLocks().Wait();"
          }
        ]
      }
    },
    "/api/sg/v1/Assignments/ReleaseLocks": {
      "put": {
        "tags": [
          "Assignments"
        ],
        "summary": "Release Locks",
        "description": "Releases all assignments locked acquired by user.",
        "operationId": "Assignments_ReleaseLocks",
        "responses": {
          "204": {
            "description": ""
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "PUT /api/sg/v1/Assignments/ReleaseLocks"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nsgClient.AssignmentsClient.ReleaseLocks().Wait();"
          }
        ]
      }
    },
    "/api/sg/v1/Assignments/CustomFieldValues": {
      "post": {
        "tags": [
          "Assignments"
        ],
        "summary": "List Assignments Custom Field Values",
        "description": "Gets the list of custom field values for provided assignments and custom fields ids.",
        "operationId": "Assignments_CustomFieldValuesAll",
        "parameters": [
          {
            "name": "filter",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssignmentsCustomFieldValuesFilter"
            },
            "description": "The filter for requested assignments custom field values.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "The list of BulkCustomFieldValues.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BulkCustomFieldValue"
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "POST /api/sg/v1/Assignments/CustomFieldValues\r\n\r\n{\r\n    \"customFieldIds\" : null,\r\n    \"assignmentIds\" : [\r\n\t{\"taskId\" : 3, \"resourceId\" : 6},\r\n\t{\"taskId\" : 3, \"resourceId\" : 4},\r\n]\r\n}"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nsgClient.AssignmentsClient.GetCustomFieldValues(new List<AssignmentKey>{new AssignmentKey {TaskId = 3, ResourceId = 4}, new AssignmentKey {TaskId = 3, ResourceId = 6}}, null).Result;"
          }
        ]
      },
      "put": {
        "tags": [
          "Assignments"
        ],
        "summary": "Update Assignments Custom Field Values",
        "description": "Update assignments custom field values specified in request body.",
        "operationId": "Assignments_CustomFieldValues",
        "parameters": [
          {
            "name": "bulkCustomFieldValues",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BulkCustomFieldValue"
              }
            },
            "description": "The list of BulkCustomFieldValue to update. Has a limit of 5000 entities in a single call.",
            "x-nullable": true
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "PUT /api/sg/v1/Assignments/CustomFieldValues\r\n\r\n[\r\n  {\r\n    \"value\": \"high\",\r\n    \"customFieldId\": 1,\r\n    \"entityIds\": null,\r\n    \"assignmentIds\": [\r\n\t{\"taskId\" : 3, \"resourceId\" : 6},\r\n        {\"taskId\" : 3, \"resourceId\" : 4},\r\n     ]\r\n  }\r\n]"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nvar values = new List<BulkCustomFieldValue>\r\n            {\r\n                new BulkCustomFieldValue\r\n                {\r\n                    AssignmentIds = new List<AssignmentKey>\r\n                    {\r\n                        new AssignmentKey() {TaskId = 3, ResourceId = 6},\r\n                        new AssignmentKey() {TaskId = 3, ResourceId = 4},\r\n                    },\r\n                    CustomFieldId = 1,\r\n                    Value = new CustomFieldValue\r\n                    {\r\n                        ValueString = \"high\"\r\n                    }\r\n                },\r\n            };\r\n\r\nsgClient.AssignmentsClient.UpdateCustomFieldValues(values).Wait();"
          }
        ]
      }
    },
    "/api/sg/v1/AuditLogs/Get": {
      "get": {
        "tags": [
          "AuditLogs"
        ],
        "summary": "List Audit Logs",
        "description": "Gets the list of audit logs.",
        "operationId": "AuditLogs_Get",
        "parameters": [
          {
            "type": "integer",
            "name": "page",
            "in": "query",
            "required": true,
            "description": "Page index to return.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "pageSize",
            "in": "query",
            "required": true,
            "description": "The maximum number of items to return per page.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "minId",
            "in": "query",
            "description": "Id of the minimum log item to filter.",
            "format": "int32",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "minCreatedOn",
            "in": "query",
            "description": "Earliest date when the log is created to filter.",
            "format": "date-time",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "The array object containing audit log details.",
            "schema": {
              "$ref": "#/definitions/PagedResultOfAuditLogItem"
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "GET /api/sg/v1/auditLogs?page=1&pageSize=20&minId=34&minCreatedOn=2019-01-20T14:00:00"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nsg.Client.AuditLogsClient.GetAuditLogs(35, new DateTime(2019,1,20, 14, 0, 0), 1, 20).Result;"
          }
        ]
      }
    },
    "/api/sg/v1/Budgets/Get": {
      "get": {
        "tags": [
          "Budgets"
        ],
        "summary": "List Budgets",
        "operationId": "Budgets_GetAll",
        "parameters": [
          {
            "type": "string",
            "name": "ids",
            "in": "query",
            "description": "Comma separated ids of the budgets. All available budgets will be provided if parameter not specified.",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "compressed",
            "in": "query",
            "description": "Compress costs arrays if set to true.",
            "default": true,
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "List of available budgets.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Budget"
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "GET /api/sg/v1/budgets?ids=28,35&compressed=true"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nsgClient.BudgetsClient.GetBudgets(new List<int> { 28, 35 }, true).Result;"
          }
        ]
      }
    },
    "/api/sg/v1/Budgets/Get/{id}": {
      "get": {
        "tags": [
          "Budgets"
        ],
        "summary": "Get Budget",
        "description": "Get budget by id.",
        "operationId": "Budgets_Get",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id of budget.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "compressed",
            "in": "query",
            "description": "Compress costs arrays if set to true.",
            "default": true,
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "The budget object.",
            "schema": {
              "$ref": "#/definitions/Budget"
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "GET /api/sg/v1/budgets/2"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nsgClient.BudgetsClient.GetBudget(28).Result;"
          }
        ]
      }
    },
    "/api/sg/v1/Budgets/Post": {
      "post": {
        "tags": [
          "Budgets"
        ],
        "summary": "Create Budgets",
        "description": "Create new budgets.",
        "operationId": "Budgets_Post",
        "parameters": [
          {
            "name": "budgets",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BudgetEdit"
              }
            },
            "description": "The list of budgets to create. Has a limit of 5000 entities in a single call.",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "compressed",
            "in": "query",
            "description": "Compress costs arrays if set to true.",
            "default": true,
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "List of ids of new budgets.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "POST /api/sg/v1/budgets?compressed=true\r\n\r\n[\r\n  {\r\n    \"name\" : \"HR Department Budget\",\r\n    \"description\" : null,\r\n    \"startMonth\" : \"2018-01-01T00:00:00Z\",\r\n    \"endMonth\" : \"2018-11-01T00:00:00Z\",\r\n    \"costType\" : \"Planned\",\r\n    \"customFieldId\" : 9,\r\n    \"isShared\" : true,\r\n    \"budgetRows\" : [\r\n\t    \t{\r\n\t    \t\t\"customFieldMemberId\" : 1,\r\n\t    \t\t\"budgetCosts\" : [11, 220]\r\n\t    \t},\r\n\t    \t{\r\n\t    \t\t\"customFieldMemberId\" : 2,\r\n\t    \t\t\"budgetCosts\" : [11, 35]\r\n\t    \t}\r\n    \t]\r\n  }\r\n]"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\n\r\nvar budgets = new List<BudgetEdit>\r\n{\r\n    new BudgetEdit\r\n    {\r\n        Name = \"HR Department Budget\",\r\n        StartMonth = new DateTime(2018, 1, 1),\r\n        EndMonth = new DateTime(2018, 11, 1),\r\n        CostType = BudgetCostType.Planned,\r\n        CustomFieldId = 9,\r\n        IsShared = true,\r\n        BudgetRows = new List<BudgetRowEdit>\r\n        {\r\n            new BudgetRowEdit\r\n            {\r\n                CustomFieldMemberId = 1,\r\n                BudgetCosts = List<double> { 11, 220 }\r\n            },\r\n            new BudgetRowEdit\r\n            {\r\n                CustomFieldMemberId = 2,\r\n                BudgetCosts = List<double> { 11, 35 }\r\n            }\r\n        }\r\n    }\r\n};\r\n\r\nsgClient.BudgetsClient.CreateBudgets(budgets).Wait();"
          }
        ]
      }
    },
    "/api/sg/v1/Budgets/Put": {
      "put": {
        "tags": [
          "Budgets"
        ],
        "summary": "Update Budgets",
        "description": "Update new budgets.",
        "operationId": "Budgets_Put",
        "parameters": [
          {
            "name": "budgets",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BudgetEdit"
              }
            },
            "description": "The list of budgets to update. Has a limit of 5000 entities in a single call.",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "compressed",
            "in": "query",
            "description": "Compress costs arrays if set to true.",
            "default": true,
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "PUT /api/sg/v1/budgets?compressed=true\r\n\r\n[\r\n  {\r\n  \t\"id\" : 51,\r\n    \"name\" : \"HR Department Budget\",\r\n    \"description\" : null,\r\n    \"startMonth\" : \"2018-01-01T00:00:00Z\",\r\n    \"endMonth\" : \"2018-11-01T00:00:00Z\",\r\n    \"costType\" : \"Planned\",\r\n    \"customFieldId\" : 9,\r\n    \"isShared\" : true,\r\n    \"budgetRows\" : [\r\n\t    \t{\r\n\t    \t\t\"customFieldMemberId\" : 1,\r\n\t    \t\t\"budgetCosts\" : [11, 220]\r\n\t    \t},\r\n\t    \t{\r\n\t    \t\t\"customFieldMemberId\" : 2,\r\n\t    \t\t\"budgetCosts\" : [11, 35]\r\n\t    \t}\r\n    \t]\r\n  }\r\n]"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\n\r\nvar budgets = new List<BudgetEdit>\r\n{\r\n    new BudgetEdit\r\n    {\r\n        Id = 51,\r\n        Name = \"HR Department Budget\",\r\n        StartMonth = new DateTime(2018, 1, 1),\r\n        EndMonth = new DateTime(2018, 11, 1),\r\n        CostType = BudgetCostType.Planned,\r\n        CustomFieldId = 9,\r\n        IsShared = true,\r\n        BudgetRows = new List<BudgetRowEdit>\r\n        {\r\n            new BudgetRowEdit\r\n            {\r\n                CustomFieldMemberId = 1,\r\n                BudgetCosts = new List<double> { 11, 220 }\r\n            },\r\n            new BudgetRowEdit\r\n            {\r\n                CustomFieldMemberId = 2,\r\n                BudgetCosts = new List<double> { 11, 35 }\r\n            }\r\n        }\r\n    }\r\n};\r\n\r\nsgClient.BudgetsClient.UpdateBudgets(budgets).Wait();"
          }
        ]
      }
    },
    "/api/sg/v1/Budgets/Delete": {
      "delete": {
        "tags": [
          "Budgets"
        ],
        "summary": "Delete Budgets",
        "description": "Delete budgets with specified ids.",
        "operationId": "Budgets_Delete",
        "parameters": [
          {
            "type": "string",
            "name": "ids",
            "in": "query",
            "description": "Comma separated id of budgets to delete. Has a limit of 5000 entities in a single call.",
            "x-nullable": true
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "DELETE /api/sg/v1/budgets?ids=51"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nsgClient.BudgetsClient.DeleteBudgets(new List<int> { 51 }).Wait();"
          }
        ]
      }
    },
    "/api/sg/v1/Calendars/Get": {
      "get": {
        "tags": [
          "Calendars"
        ],
        "summary": "List Calendars",
        "description": "Gets the list of resource calendars.",
        "operationId": "Calendars_Get",
        "parameters": [
          {
            "type": "string",
            "name": "timeUnit",
            "in": "query",
            "description": "The TimeUnit of requested calendars allocations. By default allocations provided by Day.",
            "x-schema": {
              "$ref": "#/definitions/TimeUnit"
            },
            "default": "Day",
            "x-nullable": false,
            "enum": [
              "Day",
              "Week",
              "Month",
              "Quarter"
            ]
          },
          {
            "type": "boolean",
            "name": "compressed",
            "in": "query",
            "description": "True if response needs to be compressed, otherwise False.",
            "default": true,
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "The CalendarData object containing calendars dates range and all calendars details.",
            "schema": {
              "$ref": "#/definitions/AllocationsResultOfCalendarData"
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "GET /api/sg/v1/Calendars?timeUnit=Month&compressed=false"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nsgClient.CalendarsClient.GetCalendars(TimeUnit.Month, false).Result;"
          }
        ]
      }
    },
    "/api/sg/v1/CustomFields/Get": {
      "get": {
        "tags": [
          "CustomFields"
        ],
        "summary": "Get Custom Fields",
        "description": "Gets all available custom fields of specified EntityType.",
        "operationId": "CustomFields_GetAll",
        "parameters": [
          {
            "type": "string",
            "name": "entityType",
            "in": "query",
            "required": true,
            "description": "Entity type of requested custom fields.",
            "x-schema": {
              "$ref": "#/definitions/EntityType"
            },
            "x-nullable": false,
            "enum": [
              "Project",
              "Resource",
              "Assignment"
            ]
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "The list of available CustomField of specified EntityType.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomField"
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "GET /api/sg/v1/CustomFields?entityType=Project"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nsgClient.CustomFieldsClient.GetCustomFields(EntityType.Project).Result;"
          }
        ]
      }
    },
    "/api/sg/v1/CustomFields/Get/{id}": {
      "get": {
        "tags": [
          "CustomFields"
        ],
        "summary": "Get Custom Field",
        "description": "Gets the custom field by id.",
        "operationId": "CustomFields_Get",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id of the custom field.",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "The object containing requested CustomField information.",
            "schema": {
              "$ref": "#/definitions/CustomField"
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "GET /api/sg/v1/CustomFields/2"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nsgClient.CustomFieldsClient.GetCustomField(2).Result;"
          }
        ]
      }
    },
    "/api/sg/v1/CustomFields/Post": {
      "post": {
        "tags": [
          "CustomFields"
        ],
        "summary": "Create Custom Fields",
        "description": "Create new CustomFieldEdits with values provided in request body.",
        "operationId": "CustomFields_Post",
        "parameters": [
          {
            "name": "customFields",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomFieldEdit"
              }
            },
            "description": "The list of CustomFieldEdits to create. Has a limit of 5000 entities in a single call.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "The ids for created CustomFieldEdits.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "POST /api/sg/v1/CustomFields\r\n\r\n[\r\n  {\r\n    \"id\": null,\r\n    \"name\": \"enum field\",\r\n    \"entityType\": \"Project\",\r\n    \"dataType\": \"Enum\",\r\n    \"defaultValue\": null,\r\n    \"enumMembers\": [\r\n      {\r\n        \"enumMemberId\": -1,\r\n        \"name\": \"High\"\r\n      },\r\n      {\r\n        \"enumMemberId\": -2,\r\n        \"name\": \"Medium\"\r\n      },\r\n      {\r\n        \"enumMemberId\": -3,\r\n        \"name\": \"Low\"\r\n      }\r\n    ],\r\n    \"isRequired\": false,\r\n    \"isUnique\": false,\r\n    \"isReadOnly\": false,\r\n    \"referenceBooleanFilterId\": null,\r\n    \"calculatedFormula\": null\r\n  }\r\n]"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nvar customFields = new List<CustomFieldEdit>\r\n        {\r\n            new CustomFieldEdit\r\n            {\r\n                DataType = CustomFieldDataType.Enum,\r\n                Name = \"enum field\",\r\n                EnumMembers = new List<ValueEnumMemberInfo>\r\n                {\r\n                    new ValueEnumMemberInfo { EnumMemberId = -1, Name = \"High\" },\r\n                    new ValueEnumMemberInfo { EnumMemberId = -2, Name = \"Medium\" },\r\n                    new ValueEnumMemberInfo { EnumMemberId = -3, Name = \"Low\" },\r\n                },\r\n                EntityType = EntityType.Project,\r\n                IsRequired = false,\r\n                IsUnique = false,\r\n                DefaultValue = new CustomFieldValue\r\n                {\r\n                    ValueDouble = -1\r\n                }\r\n            },\r\n        };\r\nsgClient.CustomFieldsClient.CreateCustomFields(customFields).Result;"
          }
        ]
      }
    },
    "/api/sg/v1/CustomFields/Put": {
      "put": {
        "tags": [
          "CustomFields"
        ],
        "summary": "Update Custom Fields",
        "description": "Updates the list of existing CustomFieldEdits with values provided in request body.",
        "operationId": "CustomFields_Put",
        "parameters": [
          {
            "name": "customFields",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomFieldEdit"
              }
            },
            "description": "The list of CustomFieldEdits to update. Has a limit of 5000 entities in a single call.",
            "x-nullable": true
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "PUT /api/sg/v1/CustomFields\r\n\r\n[\r\n  {\r\n    \"id\": 3,\r\n    \"name\": \"enum field\",\r\n    \"entityType\": \"Project\",\r\n    \"dataType\": \"Enum\",\r\n    \"defaultValue\": 6,\r\n    \"enumMembers\": [\r\n      {\r\n        \"enumMemberId\": 5,\r\n        \"name\": \"High\"\r\n      },\r\n      {\r\n        \"enumMemberId\": 6,\r\n        \"name\": \"Medium\"\r\n      },\r\n      {\r\n        \"enumMemberId\": 7,\r\n        \"name\": \"Low\"\r\n      }\r\n    ],\r\n    \"isRequired\": false,\r\n    \"isUnique\": false,\r\n    \"isReadOnly\": false,\r\n    \"referenceBooleanFilterId\": null,\r\n    \"calculatedFormula\": null\r\n  }\r\n]"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nvar customFields = new List<CustomFieldEdit>\r\n        {\r\n            new CustomFieldEdit\r\n            {\r\n                Id = 3,\r\n                DataType = CustomFieldDataType.Enum,\r\n                Name = \"enum field\",\r\n                EnumMembers = new List<ValueEnumMemberInfo>\r\n                {\r\n                    new ValueEnumMemberInfo { EnumMemberId = 5, Name = \"High\" },\r\n                    new ValueEnumMemberInfo { EnumMemberId = 6, Name = \"Medium\" },\r\n                    new ValueEnumMemberInfo { EnumMemberId = 7, Name = \"Low\" },\r\n                },\r\n                EntityType = EntityType.Project,\r\n                IsRequired = false,\r\n                IsUnique = false,\r\n                DefaultValue = new CustomFieldValue\r\n                {\r\n                    ValueDouble = 6\r\n                }\r\n            },\r\n        };\r\nsgClient.CustomFieldsClient.UpdateCustomFields(customFields).Wait();"
          }
        ]
      }
    },
    "/api/sg/v1/CustomFields/Delete": {
      "delete": {
        "tags": [
          "CustomFields"
        ],
        "summary": "Delete Custom Fields",
        "description": "Delete custom fields with given ids.",
        "operationId": "CustomFields_Delete",
        "parameters": [
          {
            "type": "string",
            "name": "ids",
            "in": "query",
            "required": true,
            "description": "Comma separated ids list of custom fields to delete. Has a limit of 5000 entities in a single call.",
            "x-nullable": true
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "DELETE /api/sg/v1/CustomFields?ids=3,4"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nsgClient.CustomFieldsClient.DeleteCustomFields(new List<int>{3,4}).Wait();"
          }
        ]
      }
    },
    "/api/sg/v1/FinancialCategories/Get": {
      "get": {
        "tags": [
          "FinancialCategories"
        ],
        "summary": "List Financial Categories",
        "description": "Gets the list of financial categories.",
        "operationId": "FinancialCategories_GetAll",
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "The list of FinancialCategory objects.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FinancialCategory"
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "GET /api/sg/v1/FinancialCategories"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nsgClient.FinancialCategoriesClient.GetFinancialCategories().Result;"
          }
        ]
      }
    },
    "/api/sg/v1/FinancialCategories/Get/{id}": {
      "get": {
        "tags": [
          "FinancialCategories"
        ],
        "summary": "Get Financial Category",
        "description": "Gets the financial category by id.",
        "operationId": "FinancialCategories_Get",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "A unique id of financial category.",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "The financial category object.",
            "schema": {
              "$ref": "#/definitions/FinancialCategory"
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "GET /api/sg/v1/FinancialCategories/2"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nsgClient.FinancialCategoriesClient.GetFinancialCategory(4).Result;"
          }
        ]
      }
    },
    "/api/sg/v1/FinancialCategories/Post": {
      "post": {
        "tags": [
          "FinancialCategories"
        ],
        "summary": "Create Financial Categories",
        "description": "Creates new financial categories with values provided in request body.",
        "operationId": "FinancialCategories_Post",
        "parameters": [
          {
            "name": "financialCategories",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FinancialCategoryEdit"
              }
            },
            "description": "The list of financial categories to create. Has a limit of 5000 entities in a single call.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "List of identifiers of new financial categories.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "POST /api/sg/v1/FinancialCategories\r\n\r\n[\r\n    {\r\n        \"id\": null,\r\n        \"name\": \"Software\",\r\n        \"financialTypeId\": null,\r\n        \"isPositive\": true\r\n    },\r\n    {\r\n        \"id\": null,\r\n        \"name\": \"Hardware\",\r\n        \"financialTypeId\": 9,\r\n        \"isPositive\": false\r\n    }\r\n]"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\n\r\nvar financialCategories = new List<FinancialCategoryEdit>\r\n{\r\n    new FinancialCategoryEdit\r\n    {\r\n        Id = null,\r\n        Name = \"Software\",\r\n        FinancialTypeId = null,\r\n        IsPositive = false\r\n    },\r\n    new FinancialCategoryEdit\r\n    {\r\n        Id = null,\r\n        Name = \"Hardware\",\r\n        FinancialTypeId = 9,\r\n        IsPositive = true\r\n    }\r\n};\r\n\r\nsgClient.FinancialCategoriesClient.CreateFinancialCategories(financialCategories).Wait();"
          }
        ]
      }
    },
    "/api/sg/v1/FinancialCategories/Put": {
      "put": {
        "tags": [
          "FinancialCategories"
        ],
        "summary": "Update Financial Categories",
        "description": "Updates financial categories with values provided in request body.",
        "operationId": "FinancialCategories_Put",
        "parameters": [
          {
            "name": "financialCategories",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FinancialCategoryEdit"
              }
            },
            "description": "The list of financial categories to update. Has a limit of 5000 entities in a single call.",
            "x-nullable": true
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "PUT /api/sg/v1/FinancialCategories\r\n\r\n[\r\n    {\r\n        \"id\": 4,\r\n        \"name\": \"Software\",\r\n        \"financialTypeId\": null,\r\n        \"isPositive\": true\r\n    },\r\n    {\r\n        \"id\": 2,\r\n        \"name\": \"Hardware\",\r\n        \"financialTypeId\": 9,\r\n        \"isPositive\": false\r\n    }\r\n]"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\n\r\nvar financialCategories = new List<FinancialCategoryEdit>\r\n{\r\n    new FinancialCategoryEdit\r\n    {\r\n        Id = 5,\r\n        Name = \"Software\",\r\n        FinancialTypeId = null,\r\n        IsPositive = false\r\n    },\r\n    new FinancialCategoryEdit\r\n    {\r\n        Id = 3,\r\n        Name = \"Hardware\",\r\n        FinancialTypeId = 9,\r\n        IsPositive = true\r\n    }\r\n};\r\n\r\nsgClient.FinancialCategoriesClient.UpdateFinancialCategories(financialCategories).Wait();"
          }
        ]
      }
    },
    "/api/sg/v1/FinancialCategories/Delete": {
      "delete": {
        "tags": [
          "FinancialCategories"
        ],
        "summary": "Delete Financial Categories",
        "description": "Deletes financial categories.",
        "operationId": "FinancialCategories_Delete",
        "parameters": [
          {
            "type": "string",
            "name": "ids",
            "in": "query",
            "description": "Comma separated ids of financial categories to delete. Has a limit of 5000 entities in a single call.",
            "x-nullable": true
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "DELETE /api/sg/v1/FinancialCategories?ids=3,4"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nsgClient.FinancialCategoriesClient.DeleteFinancialCategories(new List<int>{ 2, 6 }).Wait();"
          }
        ]
      }
    },
    "/api/sg/v1/FinancialTypes/Get": {
      "get": {
        "tags": [
          "FinancialTypes"
        ],
        "summary": "List Financial Types",
        "description": "Gets the list of financial types.",
        "operationId": "FinancialTypes_GetAll",
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "The list of FinancialTypes objects.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FinancialType"
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "GET /api/sg/v1/FinancialTypes"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nsgClient.FinancialTypesClient.GetFinancialTypes().Result;"
          }
        ]
      }
    },
    "/api/sg/v1/FinancialTypes/Get/{id}": {
      "get": {
        "tags": [
          "FinancialTypes"
        ],
        "summary": "Get Financial Type",
        "description": "Gets the financial type by id.",
        "operationId": "FinancialTypes_Get",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "A unique id of financial type.",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "The financial type object.",
            "schema": {
              "$ref": "#/definitions/FinancialType"
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "GET /api/sg/v1/FinancialTypes/2"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nsgClient.FinancialTypesClient.GetFinancialType(4).Result;"
          }
        ]
      }
    },
    "/api/sg/v1/FinancialTypes/Post": {
      "post": {
        "tags": [
          "FinancialTypes"
        ],
        "summary": "Create Financial Types",
        "description": "Creates new financial types with values provided in request body.",
        "operationId": "FinancialTypes_Post",
        "parameters": [
          {
            "name": "financialTypes",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FinancialTypeEdit"
              }
            },
            "description": "The list of financial types to create. Has a limit of 5000 entities in a single call.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "List of identifiers of new financial types.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "POST /api/sg/v1/FinancialTypes\r\n\r\n[\r\n    {\r\n        \"id\": null,\r\n        \"name\": \"Software\"\r\n    },\r\n    {\r\n        \"id\": null,\r\n        \"name\": \"Hardware\"\r\n    }\r\n]"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\n\r\nvar financialTypes = new List<FinancialTypeEdit>\r\n{\r\n    new FinancialTypeEdit\r\n    {\r\n        Id = null,\r\n        Name = \"Software\"\r\n    },\r\n    new FinancialTypeEdit\r\n    {\r\n        Id = null,\r\n        Name = \"Hardware\"\r\n    }\r\n};\r\n\r\nsgClient.FinancialTypesClient.CreateFinancialTypes(financialTypes).Wait();"
          }
        ]
      }
    },
    "/api/sg/v1/FinancialTypes/Put": {
      "put": {
        "tags": [
          "FinancialTypes"
        ],
        "summary": "Update Financial Types",
        "description": "Updates financial types with values provided in request body.",
        "operationId": "FinancialTypes_Put",
        "parameters": [
          {
            "name": "financialTypes",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FinancialTypeEdit"
              }
            },
            "description": "The list of financial types to update. Has a limit of 5000 entities in a single call.",
            "x-nullable": true
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "PUT /api/sg/v1/FinancialTypes\r\n\r\n[\r\n    {\r\n        \"id\": 4,\r\n        \"name\": \"Software\"\r\n    },\r\n    {\r\n        \"id\": 2,\r\n        \"name\": \"Hardware\"\r\n    }\r\n]"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\n\r\nvar financialTypes = new List<FinancialTypeEdit>\r\n{\r\n    new FinancialTypeEdit\r\n    {\r\n        Id = 5,\r\n        Name = \"Software\"\r\n    },\r\n    new FinancialTypeEdit\r\n    {\r\n        Id = 3,\r\n        Name = \"Hardware\"\r\n    }\r\n};\r\n\r\nsgClient.FinancialTypesClient.UpdateFinancialTypes(financialTypes).Wait();"
          }
        ]
      }
    },
    "/api/sg/v1/FinancialTypes/Delete": {
      "delete": {
        "tags": [
          "FinancialTypes"
        ],
        "summary": "Delete Financial Types",
        "description": "Deletes financial types.",
        "operationId": "FinancialTypes_Delete",
        "parameters": [
          {
            "type": "string",
            "name": "ids",
            "in": "query",
            "description": "Comma separated ids of financial types to delete. Has a limit of 5000 entities in a single call.",
            "x-nullable": true
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "DELETE /api/sg/v1/FinancialTypes?ids=3,4"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nsgClient.FinancialTypesClient.DeleteFinancialTypes(new List<int>{ 2, 6 }).Wait();"
          }
        ]
      }
    },
    "/api/sg/v1/GeneralSettings/Get": {
      "get": {
        "tags": [
          "GeneralSettings"
        ],
        "summary": "Get General Settings",
        "description": "Gets the general settings that are used in the system.",
        "operationId": "GeneralSettings_Get",
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "The general settings.",
            "schema": {
              "$ref": "#/definitions/GeneralSettings"
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "GET /api/sg/v1/GeneralSettings"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nsgClient.GeneralSettingsClient.GetGeneralSettings().Result;"
          }
        ]
      }
    },
    "/api/sg/v1/Milestones/Get": {
      "get": {
        "tags": [
          "Milestones"
        ],
        "summary": "List Milestones",
        "description": "Gets the list of milestones for provided project ids.",
        "operationId": "Milestones_GetAll",
        "parameters": [
          {
            "type": "string",
            "name": "ids",
            "in": "query",
            "description": "Ids of milestones separated by comma.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "projectIds",
            "in": "query",
            "description": "Comma-separated list or project ids. Optional. Mutually exclusive with ProjectExternalIds.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "projectExternalIds",
            "in": "query",
            "description": "Comma-separated list or project external ids. Optional. Mutually exclusive with ProjectIds.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "The list of objects containing project ids with associated Milestones sets.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProjectMilestones"
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "GET /api/sg/v1/Milestones?projectIds=2,3"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nsgClient.MilestonesClient.GetMilestones(null, new List<int>{2,3}).Result;"
          }
        ]
      }
    },
    "/api/sg/v1/Milestones/Get/{id}": {
      "get": {
        "tags": [
          "Milestones"
        ],
        "summary": "Get Milestones",
        "description": "Get milestone by id.",
        "operationId": "Milestones_Get",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id of milestone.",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "The milestone object.",
            "schema": {
              "$ref": "#/definitions/Milestone"
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "GET /api/sg/v1/Milestones/2"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nsgClient.MilestonesClient.GetMilestone(1).Result;"
          }
        ]
      }
    },
    "/api/sg/v1/Milestones/Post": {
      "post": {
        "tags": [
          "Milestones"
        ],
        "summary": "Create Milestones",
        "description": "Create new milestones.",
        "operationId": "Milestones_Post",
        "parameters": [
          {
            "name": "milestones",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MilestoneEdit"
              }
            },
            "description": "The list of milestones to create. Has a limit of 5000 entities in a single call.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "List of id of new milestones.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "POST /api/sg/v1/Milestones\r\n\r\n[\r\n   {\r\n      \"projectId\" : 1,\r\n      \"name\": \"Milestone 1\",\r\n      \"description\": null,\r\n      \"date\": \"2016-09-21T00:00:00\",\r\n      \"color\": \"HotPink\",\r\n      \"shape\": \"Diamond\"\r\n   },\r\n   {\r\n      \"projectId\" : 1,\r\n      \"name\": \"Milestone 3\",\r\n      \"description\": null,\r\n      \"date\": \"2017-03-21T00:00:00\",\r\n      \"color\": \"PaleVioletRed\",\r\n      \"shape\": \"Square\"\r\n   }\r\n]\r\n"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nvar milestones = new List<MilestoneEdit>{\r\n  new MilestoneEdit{\r\n    Name = \"New Milestone\",\r\n    ProjectId = 2,\r\n    Description = \"New description\",\r\n    Date = DateTime.Today,\r\n    Shape = MilestoneShape.Circle,\r\n    Color = MilestoneColor.DarkCyan\r\n  }\r\n};\r\n\r\nsgClient.MilestonesClient.CreateMilestones(milestones).Result;"
          }
        ]
      }
    },
    "/api/sg/v1/Milestones/Put": {
      "put": {
        "tags": [
          "Milestones"
        ],
        "summary": "Update Milestones",
        "description": "Update existing milestones.",
        "operationId": "Milestones_Put",
        "parameters": [
          {
            "name": "milestones",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MilestoneEdit"
              }
            },
            "description": "The list of milestones to update. Has a limit of 5000 entities in a single call.",
            "x-nullable": true
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "PUT /api/sg/v1/Milestones\r\n\r\n[\r\n   {\r\n      \"id\": 1,\r\n      \"projectId\" : 1,\r\n      \"name\": \"Milestone 1\",\r\n      \"description\": null,\r\n      \"date\": \"2016-09-21T00:00:00\",\r\n      \"color\": \"HotPink\",\r\n      \"shape\": \"Diamond\"\r\n   },\r\n   {\r\n      \"id\": 3,\r\n      \"projectId\" : 1,\r\n      \"name\": \"Milestone 3\",\r\n      \"description\": null,\r\n      \"date\": \"2017-03-21T00:00:00\",\r\n      \"color\": \"PaleVioletRed\",\r\n      \"shape\": \"Square\"\r\n   }\r\n]\r\n"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nvar milestones = new List<MilestoneEdit>{\r\n  new MilestoneEdit{\r\n    Id = 3,\r\n    Name = \"Milestone\"\r\n    Description = \"description\",\r\n    Date = DateTime.Today,\r\n    Shape = MilestoneShape.Circle,\r\n    Color = MilestoneColor.DarkCyan\r\n  }\r\n};\r\n\r\nsgClient.MilestonesClient.UpdateMilestones(milestones).Wait();"
          }
        ]
      }
    },
    "/api/sg/v1/Milestones/Delete": {
      "delete": {
        "tags": [
          "Milestones"
        ],
        "summary": "Delete Milestones",
        "description": "Delete milestones.",
        "operationId": "Milestones_Delete",
        "parameters": [
          {
            "type": "string",
            "name": "ids",
            "in": "query",
            "description": "Comma separated id of milestones to delete. Has a limit of 5000 entities in a single call.",
            "x-nullable": true
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "DELETE /api/sg/v1/Milestones?ids=3,5"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nsgClient.MilestonesClient.DeleteMilestones(new List<int>{3,5}).Wait();"
          }
        ]
      }
    },
    "/api/sg/v1/ProjectAccessRules/Get": {
      "get": {
        "tags": [
          "ProjectAccessRules"
        ],
        "summary": "List Project Access Rules",
        "description": "Gets the list of ProjectPermissionRules in ascending order by id.",
        "operationId": "ProjectAccessRules_GetAll",
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProjectPermissionRule"
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "GET /api/sg/v1/ProjectAccessRules"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nsgClient.ProjectAccessRulesClient.GetProjectAccessRules().Result;"
          }
        ]
      }
    },
    "/api/sg/v1/ProjectAccessRules/Get/{id}": {
      "get": {
        "tags": [
          "ProjectAccessRules"
        ],
        "summary": "Get Project Access Rule",
        "description": "Gets the ProjectPermissionRule by id.",
        "operationId": "ProjectAccessRules_Get",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id of the rule.",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProjectPermissionRule"
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "GET /api/sg/v1/ProjectAccessRules/2"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nsgClient.ProjectAccessRulesClient.GetProjectAccessRule(2).Result;"
          }
        ]
      }
    },
    "/api/sg/v1/ProjectAccessRules/Post": {
      "post": {
        "tags": [
          "ProjectAccessRules"
        ],
        "summary": "Create Project Access Rules",
        "description": "Create new ProjectPermissionRuleEdits with values provided in request body.",
        "operationId": "ProjectAccessRules_Post",
        "parameters": [
          {
            "name": "rules",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProjectPermissionRuleEdit"
              }
            },
            "description": "The list of rules to create. Has a limit of 5000 entities in a single call.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Ids and lost access rules for new rules.",
            "schema": {
              "$ref": "#/definitions/PermissionRuleEditResult"
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "POST /api/sg/v1/ProjectAccessRules\r\n\r\n[\r\n    {\r\n        \"id\": null,\r\n        \"resourceIds\": [\r\n            137\r\n        ],\r\n        \"resourceSecurityGroupIds\": [],\r\n        \"globalRoleIds\": [],\r\n        \"projectIds\": [],\r\n        \"projectSecurityGroupIds\": [],\r\n        \"projectRoleId\": 10,\r\n        \"allowOverride\": false\r\n    },\r\n    {\r\n        \"id\": null,\r\n        \"resourceIds\": [\r\n            1183\r\n        ],\r\n        \"resourceSecurityGroupIds\": [],\r\n        \"globalRoleIds\": [],\r\n        \"projectIds\": [],\r\n        \"projectSecurityGroupIds\": [],\r\n        \"projectRoleId\": 40,\r\n        \"allowOverride\": false\r\n    }\r\n]"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\n\r\nvar rules = new List<ProjectPermissionRuleEdit>\r\n{\r\n    new ProjectPermissionRuleEdit\r\n    {\r\n        ProjectRoleId = 2,\r\n        ProjectIds = new List<int> { 22, 25 },\r\n        ProjectSecurityGroupIds = new List<int>(),\r\n        GlobalRoleIds = new List<int>(),\r\n        ResourceIds = new List<int> { 122, 135 },\r\n        ResourceSecurityGroupIds = new List<int>()\r\n    },\r\n    new ProjectPermissionRuleEdit\r\n    {\r\n        ProjectRoleId = 3,\r\n        ProjectIds = new List<int> { 12, 15 },\r\n        ProjectSecurityGroupIds = new List<int>(),\r\n        GlobalRoleIds = new List<int>(),\r\n        ResourceIds = new List<int>(),\r\n        ResourceSecurityGroupIds = new List<int> { 3 }\r\n    }\r\n};\r\n\r\nsgClient.ProjectAccessRulesClient.CreateProjectAccessRules(rules).Result;"
          }
        ]
      }
    },
    "/api/sg/v1/ProjectAccessRules/Put": {
      "put": {
        "tags": [
          "ProjectAccessRules"
        ],
        "summary": "Update Project Access Rules",
        "description": "Update new ProjectPermissionRuleEdits with values provided in request body.",
        "operationId": "ProjectAccessRules_Put",
        "parameters": [
          {
            "name": "rules",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProjectPermissionRuleEdit"
              }
            },
            "description": "The list of rules to update. Has a limit of 5000 entities in a single call.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Ids of lost access rules for updated rules.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "PUT /api/sg/v1/ProjectAccessRules\r\n\r\n[\r\n    {\r\n        \"id\": 32,\r\n        \"resourceIds\": [\r\n            137\r\n        ],\r\n        \"resourceSecurityGroupIds\": [],\r\n        \"globalRoleIds\": [],\r\n        \"projectIds\": [],\r\n        \"projectSecurityGroupIds\": [],\r\n        \"projectRoleId\": 10,\r\n        \"allowOverride\": false\r\n    },\r\n    {\r\n        \"id\": 33,\r\n        \"resourceIds\": [\r\n            631\r\n        ],\r\n        \"resourceSecurityGroupIds\": [],\r\n        \"globalRoleIds\": [],\r\n        \"projectIds\": [],\r\n        \"projectSecurityGroupIds\": [],\r\n        \"projectRoleId\": 6,\r\n        \"allowOverride\": false\r\n    },\r\n    {\r\n        \"id\": 36,\r\n        \"resourceIds\": [\r\n            1183\r\n        ],\r\n        \"resourceSecurityGroupIds\": [],\r\n        \"globalRoleIds\": [],\r\n        \"projectIds\": [],\r\n        \"projectSecurityGroupIds\": [],\r\n        \"projectRoleId\": 40,\r\n        \"allowOverride\": false\r\n    }\r\n]"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\n\r\nvar rules = new List<ProjectPermissionRuleEdit>\r\n{\r\n    new ProjectPermissionRuleEdit\r\n    {\r\n        Id = 7,\r\n        ProjectRoleId = 2,\r\n        ProjectIds = new List<int> { 22, 25 },\r\n        ProjectSecurityGroupIds = new List<int>(),\r\n        GlobalRoleIds = new List<int>(),\r\n        ResourceIds = new List<int> { 122, 135 },\r\n        ResourceSecurityGroupIds = new List<int>()\r\n    },\r\n    new ProjectPermissionRuleEdit\r\n    {\r\n        Id = 5,\r\n        ProjectRoleId = 3,\r\n        ProjectIds = new List<int> { 12, 15 },\r\n        ProjectSecurityGroupIds = new List<int>(),\r\n        GlobalRoleIds = new List<int>(),\r\n        ResourceIds = new List<int>(),\r\n        ResourceSecurityGroupIds = new List<int> { 3 }\r\n    }\r\n};\r\n\r\nsgClient.ProjectAccessRulesClient.UpdateProjectAccessRules(rules).Result;"
          }
        ]
      }
    },
    "/api/sg/v1/ProjectAccessRules/Delete": {
      "delete": {
        "tags": [
          "ProjectAccessRules"
        ],
        "summary": "Delete Project Access Rules",
        "operationId": "ProjectAccessRules_Delete",
        "parameters": [
          {
            "type": "string",
            "name": "ids",
            "in": "query",
            "description": "Comma separated list of ids of rules to delete. Has a limit of 5000 entities in a single call.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Ids of lost access rules for deleted rules.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "DELETE /api/sg/v1/ProjectAccessRules?ids=3,4"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nsgClient.ProjectAccessRulesClient.DeleteProjectAccessRules(new List<int>{ 2, 6 }).Result;"
          }
        ]
      }
    },
    "/api/sg/v1/ProjectFinancials/Get": {
      "get": {
        "tags": [
          "ProjectFinancials"
        ],
        "summary": "List Project Financials",
        "operationId": "ProjectFinancials_Get",
        "parameters": [
          {
            "type": "string",
            "name": "projectIds",
            "in": "query",
            "description": "Comma-separated list or project ids. Optional. Mutually exclusive with ProjectExternalIds.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "projectExternalIds",
            "in": "query",
            "description": "Comma-separated list or project external ids. Optional. Mutually exclusive with ProjectIds.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "financialCategoryIds",
            "in": "query",
            "description": "Ids of FinancialCategorys to include in response.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "financialCostTypes",
            "in": "query",
            "description": "FinancialCostTypes to include into response.",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "page",
            "in": "query",
            "description": "Page index to return. Must be specified if projects and financial categories filters no used.",
            "format": "int32",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of items to return per page. Must be specified if projects and financial categories filters no used.",
            "format": "int32",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "compressed",
            "in": "query",
            "description": "Compress financial costs arrays if set to true.",
            "default": true,
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "List of financial rows for requested project and financial categories.",
            "schema": {
              "$ref": "#/definitions/PagedResultOfFinancialRow"
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "GET /api/sg/v1/ProjectFinancials?projectIds=731&financialCostTypes=Planned,Actual&financialCategoryIds=5&page=1&pageSize=50&compressed=true"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nsgClient.ProjectFinancialsClient.GetProjectFinancials(new List<int> { 731 }, new List<int> { 5 }, new List<FinancialCostType> { FinancialCostType.Actual, FinancialCostType.Planned }, 1, 50, true).Result;"
          }
        ]
      }
    },
    "/api/sg/v1/ProjectFinancials/Post": {
      "post": {
        "tags": [
          "ProjectFinancials"
        ],
        "summary": "Create Project Financials",
        "operationId": "ProjectFinancials_Post",
        "parameters": [
          {
            "name": "financialRows",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FinancialRow"
              }
            },
            "description": "The list of financial rows to create. Has a limit of 5000 entities in a single call.",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "withLock",
            "in": "query",
            "description": "If True, automatically acquires projects locks before update, and releases locks after financial rows saved. If False, locks should be already acquired.",
            "default": false,
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "compressed",
            "in": "query",
            "description": "True if financial costs are compressed, otherwise False.",
            "default": true,
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "POST /api/sg/v1/ProjectFinancials?withLock=true&compressed=true\r\n\r\n[\r\n  {\r\n    \"projectId\": 731,\r\n    \"financialCategoryId\": 5,\r\n    \"actualCosts\": [\r\n      11, 200\r\n    ],\r\n    \"plannedCosts\": [\r\n      11, 0\r\n    ],\r\n    \"budgetCosts\": [\r\n      11, 270\r\n    ]\r\n  }\r\n]"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\n\r\nvar projectFinancialRows = new List<FinancialRow>\r\n{\r\n    new FinancialRow\r\n    {\r\n        ProjectId = 731,\r\n        FinancialCategoryId = 5,\r\n        ActualCosts = new List<double> { 11, 200 },\r\n        PlannedCosts = new List<double> { 11, 0 },\r\n        BudgetCosts = new List<double> { 11, 270 }\r\n    }\r\n};\r\n\r\nsgClient.ProjectFinancialsClient.CreateProjectFinancials(projectFinancialRows).Wait();\r\n"
          }
        ]
      }
    },
    "/api/sg/v1/ProjectFinancials/Put": {
      "put": {
        "tags": [
          "ProjectFinancials"
        ],
        "summary": "Update Project Financials",
        "operationId": "ProjectFinancials_Put",
        "parameters": [
          {
            "name": "financialRows",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FinancialRow"
              }
            },
            "description": "The list of financial rows to update. Has a limit of 5000 entities in a single call.",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "withLock",
            "in": "query",
            "description": "If True, automatically acquires projects locks before update, and releases locks after financial rows saved. If False, locks should be already acquired.",
            "default": false,
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "compressed",
            "in": "query",
            "description": "True if financial costs are compressed, otherwise False.",
            "default": true,
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "PUT /api/sg/v1/ProjectFinancials?withLock=true&compressed=true\r\n\r\n[\r\n  {\r\n    \"projectId\": 731,\r\n    \"financialCategoryId\": 5,\r\n    \"actualCosts\": [\r\n      11, 100\r\n    ],\r\n    \"plannedCosts\": [\r\n      11, 120\r\n    ],\r\n    \"budgetCosts\": [\r\n      11, 0\r\n    ]\r\n  }\r\n]"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\n\r\nvar projectFinancialRows = new List<FinancialRow>\r\n{\r\n    new FinancialRow\r\n    {\r\n        ProjectId = 731,\r\n        FinancialCategoryId = 5,\r\n        ActualCosts = new List<double> { 11, 100 },\r\n        PlannedCosts = new List<double> { 11, 120 },\r\n        BudgetCosts = new List<double> { 11, 0 }\r\n    }\r\n};\r\n\r\nsgClient.ProjectFinancialsClient.UpdateProjectFinancials(projectFinancialRows).Wait();\r\n"
          }
        ]
      }
    },
    "/api/sg/v1/ProjectFinancials/Delete": {
      "post": {
        "tags": [
          "ProjectFinancials"
        ],
        "summary": "Delete Project Financials",
        "operationId": "ProjectFinancials_Delete",
        "parameters": [
          {
            "name": "financialRowIds",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FinancialRowKey"
              }
            },
            "description": "The list of financial rows compound ids to delete. Has a limit of 5000 entities in a single call.",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "withLock",
            "in": "query",
            "description": "If True, automatically acquires projects locks before update, and releases locks after financial rows deleted. If False, locks should be already acquired.",
            "default": false,
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "POST /api/sg/v1/ProjectFinancials/Delete?withLock=true\r\n\r\n[\r\n  {\r\n    \"projectId\" : 731,\r\n    \"financialCategoryId\" : 5\r\n  }\r\n]"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\n\r\nvar financialRowIds = new List<FinancialRowKey>\r\n{\r\n    new FinancialRowKey\r\n    {\r\n        ProjectId = 731,\r\n        FinancialCategoryId = 5\r\n    }\r\n};\r\n\r\nsgClient.ProjectFinancialsClient.DeleteProjectFinancials(financialRowIds, true).Wait();\r\n"
          }
        ]
      }
    },
    "/api/sg/v1/Projects/Get": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "List Projects",
        "description": "Gets the list of Projects that the user has access to in ascending order by id.",
        "operationId": "Projects_Get",
        "parameters": [
          {
            "type": "string",
            "name": "ids",
            "in": "query",
            "description": "Comma separated id of the projects. Mandatory parameter if page and externalIds are not specified. Mutually exclusive with page and externalIds parameters.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "externalIds",
            "in": "query",
            "description": "Comma separated external id of the projects. Mandatory parameter if page and ids is not specified. Mutually exclusive with page and ids parameters.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "name",
            "in": "query",
            "description": "Optional filter parameter to find projects by name.",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "page",
            "in": "query",
            "description": "The index of page to return. Mandatory parameter if ids and externalIds are not specified. Mutually exclusive with parameter ids and externalIds.",
            "format": "int32",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of items to return per page. Mandatory parameter if page specified.",
            "format": "int32",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "modifiedLaterThan",
            "in": "query",
            "description": "Optional filter parameter to find projects that have been modified later than given timestamp. Mutually exclusive with ids and name parameter. Timestamp format 2018-04-20T18:30:00.",
            "format": "date-time",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "The list of objects with available project information.",
            "schema": {
              "$ref": "#/definitions/PagedResultOfProject"
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "GET /api/sg/v1/Projects?page=1&pageSize=100"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nsgClient.ProjectsClient.GetProjects(null, null, 1, 100).Result;"
          }
        ]
      }
    },
    "/api/sg/v1/Projects/Get/{id}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get Project",
        "description": "Gets the project by id.",
        "operationId": "Projects_Get2",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id of the project.",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "The object containing requested Project information.",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "GET /api/sg/v1/Projects/2"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nsgClient.ProjectsClient.GetProject(2).Result;"
          }
        ]
      }
    },
    "/api/sg/v1/Projects/Milestones": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "List Milestones",
        "description": "Gets the list of milestones for provided project ids.",
        "operationId": "Projects_Milestones",
        "parameters": [
          {
            "type": "string",
            "name": "projectIds",
            "in": "query",
            "description": "Ids of projects separated by comma. Optional. Mutually exclusive with ProjectExternalIds.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "projectExternalIds",
            "in": "query",
            "description": "Comma-separated list or project external ids. Optional. Mutually exclusive with ProjectIds.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "The list of objects containing project ids with associated Milestones sets.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProjectMilestones"
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "GET /api/sg/v1/Projects/Milestones?projectIds=2,3"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nsgClient.ProjectsClient.GetMilestones(new List<int>{2,3}).Result;"
          }
        ]
      }
    },
    "/api/sg/v1/Projects/Teams": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "List Project Team",
        "description": "Gets the list of teams for provided project ids or project external ids.",
        "operationId": "Projects_TeamsAll",
        "parameters": [
          {
            "type": "string",
            "name": "projectIds",
            "in": "query",
            "description": "Ids of projects separated by comma. Optional. Mutually exclusive with ProjectExternalIds.",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "projectExternalIds",
            "in": "query",
            "description": "Comma-separated list or project external ids. Optional. Mutually exclusive with ProjectIds.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "The list of objects containing project ids with teams.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProjectTeam"
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "GET /api/sg/v1/Projects/Teams?projectIds=2,3"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nsgClient.ProjectsClient.GetTeams(new List<int>{2,3}).Result;"
          }
        ]
      },
      "put": {
        "tags": [
          "Projects"
        ],
        "summary": "Update Project Team",
        "description": "Update projects with teams provided in request body.",
        "operationId": "Projects_Teams",
        "parameters": [
          {
            "name": "projectTeams",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProjectTeam"
              }
            },
            "description": "Projects teams to update.",
            "x-nullable": true
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "PUT /api/sg/v1/Projects/teams\r\n\r\n[\r\n  {\r\n    \"projectId\": 1,\r\n    \"team\": [\r\n      1, 2, 3\r\n    ]\r\n  }\r\n]"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nvar teams = new List<ProjectTeam>\r\n{\r\n    new ProjectTeam\r\n    {\r\n        ProjectId = 1,\r\n        Team = new List<int>\r\n        {\r\n            1, 2, 3\r\n        }\r\n    }\r\n};\r\n\r\nsgClient.ProjectsClient.UpdateTeams(teams).Wait();\r\n"
          }
        ]
      }
    },
    "/api/sg/v1/Projects/Post": {
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Create Projects",
        "description": "Create new ProjectEdits with values provided in request body.",
        "operationId": "Projects_Post",
        "parameters": [
          {
            "name": "projects",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProjectEdit"
              }
            },
            "description": "The list of ProjectEdit to create. Has a limit of 5000 entities in a single call.",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "The list of ids for created projects.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "POST /api/sg/v1/Projects\r\n\r\n[\r\n  {\r\n    \"updateSecurityGroup\": true,\r\n    \"securityGroupId\": 2,\r\n    \"id\": null,\r\n    \"name\": \"project name\",\r\n    \"updateProjectDates\": true,\r\n    \"startDate\": \"2017-08-08T05:08:55Z\",\r\n    \"endDate\": \"2017-09-08T05:08:55Z\",\r\n    \"updateFinancialDates\": true,\r\n    \"financialStartMonth\": \"2017-08-01T00:00:00Z\",\r\n    \"financialEndMonth\": \"2017-09-01T00:00:00Z\",\r\n    \"updateWorkflow\" : true,\r\n    \"workflowId\" : 1\r\n  }\r\n]"
          },
          {
            "lang": "C#",
            "source": "var sgClient = new SupergridRestClient(sgUrl, token);\r\nvar projectsToCreate = new List<ProjectEdit>\r\n{\r\n    new ProjectEdit\r\n    {\r\n        Name = \"project name\",\r\n        SecurityGroupId = 2,\r\n        UpdateSecurityGroup = true,\r\n        StartDate = DateTime.Now,\r\n        EndDate = DateTime.Now.AddMonths(1),\r\n        UpdateProjectDates = true,\r\n        UpdateFinancialDates = true,\r\n        FinancialStartMonth = new DateTime(2018, 1, 1),\r\n        FinancialEndMonth = new DateTime(2018, 12, 1),\r\n        UpdateWorkflow = true,\r\n        WorkflowId = 1\r\n    }\r\n};\r\n\r\nsgClient.ProjectsClient.CreateProjects(projectsToCreate).Result;"
          }
        ]
      }
    },
    "/api/sg/v1/Projects/Put": {
      "put": {
        "tags": [
          "Projects"
        ],
        "summary": "Update Projects",
        "description": "Update the list of existing ProjectEdits with values provided in request body.",
        "operationId": "Projects_Put",
        "parameters": [
          {
            "name": "projects",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProjectEdit"
[...]
